/**
* Sold by label feature
*/
.storekit_sold_by_wrapper {
    padding: 5px 0;

    img {
        display: inline-block !important;
        margin: 0 !important;
        width: 25px !important; 
        border-radius: 50%;
        vertical-align: bottom;
    }

    a {
        display: inline-block !important;
    }
}
.storekit_store_rating {
    padding: 5px 0;

    .dashicons-star-empty {
        font-size: 15px;
        color: #e0e0e0;
    }

    .dashicons-star-filled,
    .dashicons-star-half {
        font-size: 15px;
        color: #ffc239; 
    }
}