#storekit-admin {
    > .MuiBox-root {
        @media screen and (max-width: 768px) {
            width: 85%;
            margin: 50px auto;
            flex-direction: column;
        }

        @media screen and (max-width: 480px) {
            width: 100%;
       }
    }
}
.storekit-settings-sidebar {
    position: fixed;
    width: 250px;

    @media screen and (max-width: 1024px) {
        width: 200px;
   }

    @media screen and (max-width: 768px) {
        position: unset;
        width: 100%;
   }

    .MuiList-root {
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: row;
        }

        .MuiListItem-root {
            flex-grow: 1;
            font-size: 15px;
            background: #F6F6F6;
            border-radius: 6px;
    
            &:first-child {
                padding-top: 0;
            }
    
            .MuiListItemButton-root {
                text-align: center;
                border-radius: 6px;
    
                &:hover {
                    background: #fff;
                    color: #2F69C4;
                }
            }
    
            .Mui-selected {
                background: #fff;
                color: #2F69C4;
            }
        }
    }
}
.storekit-settings-content{
    width: 75%;
    margin-left: 290px;

    @media screen and (max-width: 1024px) {
        margin-left: 240px;
   }

    @media screen and (max-width: 768px) {
        width: 100%;
        margin-left: 0;
   }

    .MuiInput-root {
        padding: 0;

        input {
            border: none;
        }

        .MuiInput-endDecorator {
            background: #f1f1f1;
            border-radius: 0 6px 6px;
            margin-left: 0;

            p {
                padding: 0 10px;
            }
        }
    }
    .MuiCard-root {
        .MuiStack-root {
            .MuiTypography-root {
                justify-content: space-between;
            }
        }
    }
}

input.MuiSwitch-input {
    margin: 0;
    height: 100%;
    width: 100%;
}