/**
* Default slider style
*/
body.single-product .product-gallery {
    width: 48%;
    float: left;
}

/**
* Default slider style for /storefront/ them
*/
body.single-product.theme-storefront .product-gallery {
    width: 41%;
    margin-right: 6%;
}
@media screen and (max-width: 480px){
    body.single-product.theme-storefront .product-gallery {
        width: 100%;
        float: none;
        margin-right: 0;
    }
    body.single-product.theme-storefront .product-gallery .flexslider {
        margin-bottom: 5% !important;
    }
}

/**
* YouTube video popup svg icon
*/
body.single-product .product-gallery .youtube-popup svg {
    width: 50px;
    height: auto;
    position: absolute;
    top: 44%;
    left: 44%;
    fill: #c4302b;
}

/**
* Soundcloud Title
*/
.wctk_soundcloud-info {
    font-size: 10px; 
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-family: Interstate,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
}

/**
*
* Dokan Shop Page Loop Sold by
*
*/
.wctk_sold_by_wrapper {
    padding: 5px 0;
}
.wctk_sold_by_wrapper img {
    display: inline-block !important;
    margin: 0 !important;
    vertical-align: bottom;
}
.wctk_sold_by_wrapper a {
    display: inline-block !important;
}
.wctk_store_rating {
    padding: 5px 0;
}
.wctk_store_rating i.dashicons-star-empty,
.wctk_store_rating i.dashicons-star-filled,
.wctk_store_rating i.dashicons-star-half {
    font-size: 15px;
}
