/**
*
* Dokan Shop Page Loop Sold by
*
*/
.storekit_sold_by_wrapper {
    padding: 5px 0;
}
.storekit_sold_by_wrapper img {
    display: inline-block !important;
    margin: 0 !important;
    width: 25px !important; 
    border-radius: 50%;
    vertical-align: bottom;
}
.storekit_sold_by_wrapper a {
    display: inline-block !important;
}
.storekit_store_rating {
    padding: 5px 0;
}
.storekit_store_rating i.dashicons-star-empty {
    font-size: 15px;
    color: #e0e0e0;
}
.storekit_store_rating i.dashicons-star-filled,
.storekit_store_rating i.dashicons-star-half {
    font-size: 15px;
    color: #ffc239;
}

.storekit_wc_tnc{
    margin: 8px 0;
}

